<% layout('/layouts/default.html', {title: '录入快递单', libs: ['validate','fileupload','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('录入快递单')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${xhsWarehouseOutputLogisticsBO}" action="${ctx}/xhs/warehouseoutput/xhsWarehouseOutput/saveLogistics" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('请录入快递单')}</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hidden">*</span> ${text('快递类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-6">
								<#form:select path="mailType" dictType="sys_mail_type" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required">*</span> ${text('快递单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-6">
								<#form:hidden path="logisticsId"/>
								<#form:input path="mailNumber" maxlength="20" class="form-control required" placeholder="${text('请输入快递单号')}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('xhs:warehouseoutput:xhsWarehouseOutput:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>