<% layout('/layouts/default.html', {title: '入库登记管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('入库登记管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('xhs:warehouseinput:xhsWarehouseInput:edit')){ %>
					<a href="${ctx}/xhs/warehouseinput/xhsWarehouseInput/form" class="btn btn-default btnTool" title="${text('新增入库登记')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${xhsWarehouseInput}" action="${ctx}/xhs/warehouseinput/xhsWarehouseInput/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('产品')}：</label>
					<div class="control-inline width-120" >
						<#form:listselect id="productSelect" title="产品"
                            path="product.id" url="${ctx}/xhs/product/xhsProductInfo/productSelect" allowClear="false" 
                            checkbox="false" itemCode="id" itemName="productName"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库仓库')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="warehouse" title="${text('仓库')}"
							path="warehouse.treeCode" labelPath="warehouse.treeName"
							url="${ctx}/xhs/warehouse/xhsWarehouseTree/treeData"
							class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('供应商')}：</label>
					<div class="control-inline width-120" >
						<#form:listselect id="supplierSelect" title="供应商"
                            path="supplier.id" url="${ctx}/xhs/supplier/xhsSupplierInfo/supplierSelect" allowClear="false" 
                            checkbox="false" itemCode="id" itemName="name"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('入库单号')}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/xhs/warehouseinput/xhsWarehouseInput/form?id='+row.id+'" class="btnList" data-title="${text('编辑入库登记')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('产品code')}', name:'product.productCode', index:'product.product_code', width:150, align:"center"},
		{header:'${text('产品名称')}', name:'product.productName', index:'product.product_name', width:150, align:"center"},
		{header:'${text('入库仓库')}', name:'warehouse.treeNames', index:'warehouse.tree_names', width:150, align:"center"},
		{header:'${text('入库单价')}', name:'inputPriceDesc', index:'', width:150, align:"center"},
		{header:'${text('入库数量')}', name:'inputQuantity', index:'a.input_quantity', width:150, align:"center"},
		{header:'${text('供应商')}', name:'supplier.name', index:'supplier.name', width:150, align:"center"},
		{header:'${text('描述')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('xhs:warehouseinput:xhsWarehouseInput:edit')){ %>
				actions.push('<a href="${ctx}/xhs/warehouseinput/xhsWarehouseInput/form?id='+row.id+'" class="btnList" title="${text('编辑入库登记')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/xhs/warehouseinput/xhsWarehouseInput/delete?id='+row.id+'" class="btnList" title="${text('删除入库登记')}" data-confirm="${text('确认要删除该入库登记吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>