<% layout('/layouts/default.html', {title: '入库登记', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('入库登记')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('xhs:intostock:xhsIntostockInfo:edit')){ %>
					<a href="${ctx}/xhs/intostock/xhsIntostockInfo/form" class="btn btn-default btnTool" title="${text('新增入库登记')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${xhsIntostockInfo}" action="${ctx}/xhs/intostock/xhsIntostockInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('单号')}：</label>
					<div class="control-inline width-140">
						<#form:input path="id" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="instockType" dictType="sys_intostock_type" blankOption="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('供应商')}：</label>
					<div class="control-inline width-140">
						<#form:listselect id="supplierSelect" title="供应商"
                            path="supplier.id" url="${ctx}/xhs/supplier/xhsSupplierInfo/supplierSelect" allowClear="false" 
                            checkbox="false" itemCode="id" itemName="name"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('仓储')}：</label>
					<div class="control-inline width-140">
						<#form:treeselect id="warehouse" title="${text('仓储')}"
							path="warehouse.treeCode" labelPath="warehouse.treeName"
							url="${ctx}/xhs/warehouse/xhsWarehouseTree/treeData"
							class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('入库状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="instockStatus" dictType="sys_intostock_status" blankOption="true" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('入库单号')}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/xhs/intostock/xhsIntostockInfo/form?id='+row.id+'" class="btnList" data-title="${text('查看登记信息')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('入库类型')}', name:'instockType', index:'a.instock_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_intostock_type')}, val, '${text('未知')}', true);
		}},
		{header:'${text('产品种类')}', name:'productNum', index:'supplier.name', width:150, align:"right"},
		{header:'${text('产品数量')}', name:'quantity', index:'supplier.name', width:150, align:"right"},
		{header:'${text('仓储')}', name:'warehouse.treeNames', index:'a.warehouse_code', width:150, align:"left"},
		{header:'${text('入库状态')}', name:'instockStatus', index:'a.instock_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_intostock_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('入库时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('xhs:intostock:xhsIntostockInfo:edit')){ %>
				actions.push('<a href="${ctx}/xhs/intostock/xhsIntostockInfo/form?id='+row.id+'" class="btnList" title="${text('查看登记信息')}"><i class="fa fa-search"></i></a>&nbsp;&nbsp;');
				if(row.instockStatus != '1')
				{
					actions.push('<a href="${ctx}/xhs/intostock/xhsIntostockInfo/cancel?id='+row.id+'&instockStatus=1" class="btnList" title="${text('撤销入库登记')}" data-confirm="${text('确认要撤销该入库登记吗？')}"><i class="fa fa-reply"></i></a>&nbsp;');
				}
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>